#pirmais-paragrafs {
    font-size: 40px;
    margin-top: 0px;
}

#pirmais-paragrafs:hover {
    font-size: 50px;
}

p {
    color: violet;
}

.red {
    color: red;
    font-weight: bold;
}

#header {
    width: 100%;
    height: 150px;
    background-color: orange;
}

#sidebar {
    width: 30%;
    height: 600px;
    background-color: plum;
    float: left;
}

#content {
    width: 70%;
    height: 600px;
    background-color: powderblue;
    margin-left: 30%;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: saddlebrown;
}

h1 {
    margin-top: 0px;
}

img {
    width: 350px;
}

li:hover {
    text-decoration: underline;
}

.latvija {
    width: 600px;
}
.attels-1 {
    width: 50px;
    position: absolute;
    top: 150px;
    left: 250px;
    transition: opacity 2s, scale 2s, transform 2s;
}
.attels-2 {
    width: 50px;
    position: absolute;
    top: 250px;
    left: 450px;
    transition: top 2s;
}

.attels-1:hover {
    opacity: 0.1;
    scale: 8;
    transform: rotate(890deg);
}

.attels-2:hover {
    top: 150px;
}

.karte {
   position: relative;
}

.spriditis {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;

    animation-name: go;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes go {
    from {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 0px;
        left: 500px
    }

    50% {
        top: 200px;
        left: 500px;
    }

    75% {
        top: 200px;
        left: 0px;
    }

    to {
        top: 0px;
        left: 0px;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: olive;
    }

    #sidebar {
        display: none;
    }

    #content {
        margin-left: 0%;
        width: 100%;
    }
}


